[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/opscode-cookbooks/rabbitmq.git
[submodule "erlang"]
	path = erlang
	url = https://github.com/opscode-cookbooks/erlang.git
[submodule "hostsfile"]
	path = hostsfile
	url = https://github.com/foxycoder/hostsfile.git
